public/uploads/games/2048-master.zip
public/uploads/games/clumsy-bird-master.zip
public/uploads/games/minato-win.zip
public/uploads/games/Tiny Kingdom 0.4.10 - Windows.zip
public/uploads/games/extracted/1/Yaw8/public/uploads/games/1785160390_Yaw8-modals-v3.zip
public/uploads/games/extracted/1/Yaw8/public/uploads/games/1785160449_Yaw8-modals-v3.zip
public/uploads/games/extracted/1/Yaw8/public/uploads/games/1785160508_Yaw8-modals-v3.zip
